div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 500px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

h2 {
  color: blue;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  position: absolute;
  /* height: 80%; */
  width: 80%;
  top: 10%;
  left: 10%;
}

img {
  padding: 10px;
  height: 300px;
}


.hidden-image {
  display: none;
}